<% provide(:title, 'For stores') %>
<div style="background: #ededed;" id="delivery_for_stores" name="delivery_for_stores">
  <div class="container">
    <div class="row">
      </br>
      <h4 class="line-divider" style="text-align: center"><%= (t 'menu.for_stores') %></h4>

      <div class="col-md-12 text-justify">
        <%= (t 'content.for_stores_1').html_safe %>
        <h4 style="text-align: center;"><%= (t 'content.for_stores_2') %></h4>
        <ul style="text-align: justify;">
          <%= (t 'content.for_stores_3').html_safe %>
        </ul>
        <p align="center">
          <a class="btn btn-lg btn-success signup" href="https://saas.teleport-ds.com/signup" role="button" target="_blank"><%= (t 'main.get_started') %> <%= (t 'main.its_free') %></a>
        </p>
        <div class="alert alert-success text-justify" role="alert">
          <small><strong><%= (t 'discounts.text_user_signup') %><%= " -10%" %></strong> <%= (t 'discounts.text_user_signup_2') %></small>
        </div>
      </div>



    </div>
  </div>
  </br>
</div>